<!DOCTYPE html>
<html lang="en">
<head>

    <!-- DEBUG INFO -->
    <!-- env={{dd_env}} -->
    <!-- version={{dd_version}} -->
    <!-- site={{dd_site}} -->
    <!-- token={{clientToken}} -->
    <!-- user_id={{user_id}} -->
    <!-- user_email={{user_email}} -->
    <!-- user_init_count={{user_init_count}} -->
    <!-- is_anonymous={{is_anonymous}} -->


<!-- See https://docs.datadoghq.com/logs/log_collection/javascript -->
<!--     https://docs.datadoghq.com/real_user_monitoring/browser  -->
<script 
    type="text/javascript" 
    src="https://www.datadoghq-browser-agent.com/datadog-logs-v4.js">
</script>

<script
    src="https://www.datadoghq-browser-agent.com/datadog-rum-v4.js"
    type="text/javascript">
</script>

<script>

        window.DD_LOGS &&
        DD_LOGS.init({
            site: '{{dd_site}}',
            clientToken: '{{clientToken}}',
            env: '{{dd_env}}',
            version: '{{dd_version}}',
            service: 'browser',
            forwardErrorsToLogs: true,
            sampleRate: 100,
            forwardConsoleLogs: 'all'
        })

        window.DD_RUM && window.DD_RUM.init({
            site: '{{dd_site}}',
            clientToken: '{{clientToken}}',
            env: '{{dd_env}}',
            version: '{{dd_version}}',
            service: 'browser',
            applicationId: '{{applicationId}}',
            sampleRate: 100,
            sessionReplaySampleRate: 100,
            trackInteractions: true,
            trackResources: true,
            trackLongTasks: true,
            defaultPrivacyLevel: 'mask-user-input',
            allowedTracingUrls: [ _ => { return true } ] // https://docs.datadoghq.com/real_user_monitoring/connect_rum_and_traces/?tab=browserrum
        });

        window.DD_RUM &&
        window.DD_RUM.startSessionReplayRecording() ;

        window.DD_LOGS && DD_LOGS.setGlobalContextProperty('team', "sandbox")

        window.DD_RUM && window.DD_RUM.setUser({ 
            id: '{{user_id}}', 
            email: '{{user_email}}', 
            anonymous: '{{is_anonymous}}'
        })
        // window.DD_RUM && window.DD_RUM.addRumGlobalContext('domain', '{{domain}}');

    </script>


    <meta charset="utf-8">
    <title>sandbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />


</div>

</head>

<body>

    <h2> Welcome, {{user_id}}.</h2>
    <div flex>
        <button counter id="big-button"> 
            <span> {{user_init_count}} </span>
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0z"></path><path d="M12 2a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1zm0 15a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1zm10-5a1 1 0 0 1-1 1h-3a1 1 0 0 1 0-2h3a1 1 0 0 1 1 1zM7 12a1 1 0 0 1-1 1H3a1 1 0 0 1 0-2h3a1 1 0 0 1 1 1zm12.071 7.071a1 1 0 0 1-1.414 0l-2.121-2.121a1 1 0 0 1 1.414-1.414l2.121 2.12a1 1 0 0 1 0 1.415zM8.464 8.464a1 1 0 0 1-1.414 0L4.93 6.344a1 1 0 0 1 1.414-1.415L8.464 7.05a1 1 0 0 1 0 1.414zM4.93 19.071a1 1 0 0 1 0-1.414l2.121-2.121a1 1 0 1 1 1.414 1.414l-2.12 2.121a1 1 0 0 1-1.415 0zM15.536 8.464a1 1 0 0 1 0-1.414l2.12-2.121a1 1 0 0 1 1.415 1.414L16.95 8.464a1 1 0 0 1-1.414 0z"/>
            </svg> 
        </button>
    </div>
    <p> click me :) </p>

    <script>

        let bigbutton = document.getElementById("big-button")
        let counter = bigbutton.querySelector("span")

        bigbutton.onclick = ( _ => {

            if ( bigbutton.hasAttribute("loading") ) { return }
            bigbutton.removeAttribute("error");
            bigbutton.setAttribute("loading","");

            fetch( "/count/{{user_id}}", { method: "POST" } )
            .then( response => {

                bigbutton.removeAttribute("loading");

                if (response.status >= 400) { 
                    bigbutton.setAttribute("error","");
                    throw new Error('oops!');
                }

                return response.json()
            })
            .then( data => counter.innerText = data.count )
            .catch(e => console.error(e, e.stack) )
        })

    </script>

</body>
</html>